<form class="ui stacked segment form" action="/series/{{series.id}}/addrace" method="POST">
  <div class="four fields">
    <div class="field">
      <label>Race Number</label>
      <input type="number" name="raceNo" autofocus required title = "Please include a valid number"
      placeholder="1">
    </div>
    <div class="field">
      <label>Track</label>
      <input type="text" name="track" required title = "Please include a valid track"
      placeholder="Bahrain">
    </div>
    <div class="field">
      <label>Position</label>
      <input type="text" name="position" required title = "Please include a valid finishing position"
      placeholder="1st">
    </div>
    <div class="field">
      <label>Fastest lap</label>
      <input type="text" name="fLap" required title = "Please include a valid lap time"
      placeholder="0:43.533">
    </div>
  </div>
  <button class="ui blue submit button">Add Race</button>
</form>
