<table class="ui fixed striped table">
  <thead>
    <tr>
      <th>Race Number</th>
      <th>Track</th>
      <th>Position</th>
      <th>Fastest Lap</th>
    </tr>
  </thead>
  <tbody>
    {{#each race}}
      <tr>
        <td>
          {{raceNo}}
        </td>
        <td>
          {{track}}
        </td>
        <td>
          {{position}}
        </td>
        <td>
          {{fLap}}
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>