{{> menu id="dashboard"}}

<section class="ui segment">
  {{#each races}}
      <h2 class="ui header">
        {{series}}
      </h2>
      {{> listraces}}
  {{/each}}

 <p>
  <span id="rating"></span>
</p>
</section>
