{{> menu}}

<section class="ui two column grid segment">
  <div class="ui column">
    <h2>Welcome to Ozzy's Sim Race Tracker App!</h2>
    <p>With this app, you can track your sim racing championships.</p>
    <p>When you complete a race from a championship, first you will need to make championship, then inside you
       will need to enter in a race along with the number of the race in championship (might not always go sequentially
       if you miss a race), name of track, your finishing position and your fastest lap.
    </p>
    <div class="buttons">
      <button class="ui blue button">Read more <i class="arrow circle right icon"></i></button>
      <button class="ui green button">Like it? <i class="arrow circle right icon"></i></button>
      <button class="ui red button">Who are you? <i class="user icon"></i></button>
    </div>
    <div id="readmore" class="ui message">
      <p>
        This is my app which you can use to track your sim racing history.
      </p>  
    </div>
    <div id="welcomeuser" class="ui message" onclick="hideWelcome()"> </div>
  </div>
  <div class="ui column">
        <img class="ui image" src="https://cdn.glitch.global/44451524-66a0-4f36-a5d9-0a1d93547714/david-blume-6Cznnau6qks-unsplash.png?v=1678454655004">
  </div>
</section>
