html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 2em;
  padding: 1em;
  font-family: sans-serif;
  line-height: 1.5;
  background-color: #333745;
}

p, h1, h2 {
  color: white !important;
}

img {
  max-width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ui.grid.segment, .ui.menu, .ui.segment {
  background-color: #454545 !important;
}

.ui.button {
  padding: 1em 1em 1em 1em;
  background-color: #e6c79c !important;
}

#readmore, #welcomeuser {
  display: none;
}

.ui.menu .item, a {
  color: white;
}

.ui.menu .active.item {
  background: rgba(0, 0, 0, 0.08);
  color: white;
  font-weight: normal;
  box-shadow: none;
}

.ui.message {
  background-color: #333333;
}

.ui.form .field > label {
  color: white;
}

.ui.form input {
  background-color: #f2f2f2;
}